[Unit]
Description=Elasticsearch DB in container
After=docker.service
Wants=docker.service

[Service]
ExecStart=docker run --rm \
    --name {{ container_name }} \
    -m 1g \
    -v {{ data_path }}:/usr/share/elasticsearch/data \
    -v {{ config_path }}:/usr/share/elasticsearch/config/elasticsearch.yml \
    -v {{ log_path }}:/usr/share/elasticsearch/logs \
    -p {{ es_port_ex }}:9200 \
    -p {{ es_port_in }}:9300 \
    -e ELASTIC_PASSWORD={{ es_pass }} \
    -e ELASTIC_USER={{ es_user }} \
    {{ image }}:{{ tag }}

ExecStop={{ container_name }}

[Install]
WantedBy=multi-user.target.wants